/*Background Color */
* {
    background-color: black;
    font-family: Roboto;
}
/* Name at the top*/
.name::first-letter {
    color: red;
    font-size: 100x
    
 }

 .name {
    color: white;
    font-size: 35px;
    text-align: left;
    margin-left: 100px;
 }
/* nav links section*/
.navbar {
    position: fixed;
    top: 0;
    right: 0;
    padding: 10px;
}

.navbar ul, ul{
    list-style-type: none;
    margin-right: 200px;
    padding: 0;
}

.navbar ul li {
    display: inline;
    margin-left: 10px;
}

.navbar ul li a {
    color: white;
    text-decoration: none;
    padding: 8px 16px;
    display: inline-block;
}
.home,.contact {
   font-size: 20px;
}
.home:hover {
    text-shadow: 0 0 5px red;
    transition: .5s;
 }

 .contact:hover {
    text-shadow: 0 0 5px red;
    transition: .5s;
 }

 /*Contact section*/
.contact-info {
    margin-top: 200px;
    margin-left: 100px;
    color: white;
    text-align: center;
    font-size: 30px;
}

.contact-heading {
    font-size: 100px;
}

.contact-heading:hover {
    font-size: 140px;
   transition: font-size 0.5s ease;
}

.contact-heading::first-letter {
    color:red;
}

.fa-envelope, .fa-phone, .fa-github {
   font-size:100px;
   text-shadow: 0 0 70px red;
   color:red;
}

.github {
    color: white
}
.github:hover {
    font-size: 40px;
    color: red;
    text-shadow: 0 0 100px red;
    transition: font-size 0.5s ease, color 0.5s ease, text-shadow 0.5s ease;
}

a {
    text-decoration: none;
}

@media only screen and (max-width: 600px) {
        .name {
            font-size: 25px;
            margin-left: 20px;
        }
        .navbar {
            padding: 5px;
        }
        .navbar ul {
            margin-right: 20px;
            text-align: center;
        }
        .navbar ul li {
            display: block;
            margin: 5px 0;
        }
        .navbar ul li a {
            padding: 5px 10px;
        }
        .home, .contact {
            font-size: 16px;
        }
        .contact-info {
            margin-top: 100px;
            margin-left: 20px;
            font-size: 20px;
        }
        .contact-heading {
            font-size: 40px;
        }
        .fa-envelope, .fa-phone, .fa-github {
            font-size: 60px;
        }
        .github:hover {
            font-size: 30px;
        }
    }

    
