/*Background Color */
* {
    background-color: black;
    font-family: Roboto;
}

/* Name at the top*/
 .name::first-letter {
    color: red;
    font-size: 100x
    
 }

 .name {
    color: white;
    font-size: 35px;
    text-align: left;
    margin-left: 100px;
 }
/* nav links*/
.navbar {
    position: fixed;
    top: 0;
    right: 0;
    padding: 10px;
}

.navbar ul {
    list-style-type: none;
    margin-right: 200px;
    padding: 0;
}

.navbar ul li {
    display: inline;
    margin-left: 10px;
}

.navbar ul li a {
    color: white;
    text-decoration: none;
    padding: 8px 16px;
    display: inline-block;
}
  .home:hover {
    box-shadow: 0 0 5px red;
    text-shadow: 0 0 5px red;
    transition: .5s;
 }

 .contact:hover {
    box-shadow: 0 0 5px red;
    text-shadow: 0 0 5px red;
    transition: .5s;
 }

/*Job Disc and Greeting*/

 .greeting{
    margin-top: 200px;
    margin-left: 100px;
    color: white;
    text-align: center;
    font-size: 30px;
 }
 

 .highlight {
    color: red;
    font-weight: bold ;
 }

 /*Image*/
 main {
    margin-bottom: 100px;
 }

 .container {
    width: 1000px;
    height: 100vh;
    background-image: url(portfoliopicture.JPEG);
    background-position: center center;
    background-repeat: no-repeat;
    border-radius: 50%;
 }
 
 