/*Background Color */
* {
    background-color: black;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-weight: bold;
}

/* Name at the top*/
 .name::first-letter {
    color: red;
    font-size: 100x
    
 }

 .name {
    color: white;
    font-size: 35px;
    text-align: left;
    margin-left: 100px;
 }
/* nav links section*/
.navbar {
    position: absolute;
    top: 0;
    right: 0;
    padding: 10px;
   }
ul {
         height: 0px;
      }

.navbar ul, ul{
    list-style-type: none;
    margin-right: 50px;
    padding: 0;
}

.navbar ul li {
    display: inline;
    margin-left: 10px;
}

.navbar ul li a {
    color: white;
    text-decoration: none;
    padding: 8px 16px;
    display: inline-block;
}
.home,.contact {
   font-size: 20px;
}
.home:hover {
    text-shadow: 0 0 5px red;
    transition: .5s;
 }

 .contact:hover {
    text-shadow: 0 0 5px red;
    transition: .5s;
 }

/*Job Disc and Greeting Section*/

 .greeting{
    margin-top: 200px;
    color: white;
    text-align: center;
    font-size: 30px;
 }

 .highlight {
    color: red;
    font-weight: bold ;
 }

 /*Image*/
 main {
    margin-bottom: 100px;
 }

 /*Skill section*/
.skill-heading {
   color: white;
   text-align: center;
   font-size: 100px;
   margin-top: 200px;
}
 
.skill-heading::first-letter {
   color: red;
}

 .skills {
   text-align: center; /* Center the inline-block elements within this container */
   margin-bottom: 500px;

}

.skills ul {
   padding: 0; /* Remove default padding */
   margin: 0; /* Remove default margin */
   list-style-type: none; /* Remove bullet points */
}

.skills ul li {
   display: inline-block; /* Allows the elements to be centered */
   width: auto; /* Adjust width as necessary */
   font-size: 170px;
   margin-right: 60px;
   text-align: center; /* Centers text within each list item */
}

.skills ul li:last-child {
   margin-right: 0; /* Remove margin for the last list item */
}

 .fa-html5:hover {
   transition:font-size 0.5s ease, text-shadow 0.5s ease;
   text-shadow: 0 0 100px #e44d26;
}

.fa-css3-alt:hover {
   transition:font-size 0.5s ease, text-shadow 0.5s ease;
   text-shadow: 0 0 100px #264de4;
}
.fa-js:hover {
   transition:font-size 0.5s ease, text-shadow 0.5s ease;
   text-shadow: 0 0 70px #f0db45;
}

.fa-git:hover {
   transition:font-size 0.5s ease, text-shadow 0.5s ease;
   text-shadow: 0 0 100px red;
}

.fa-github:hover {
   transition:font-size 0.5s ease, text-shadow 0.5s ease;
   text-shadow: 0 0 70px #ffffff;
}

.fa-terminal:hover {
   transition:font-size 0.5s ease, text-shadow 0.5s ease;
   text-shadow: 0 0 70px #ffffff;
}

.fa-react:hover {
   transition:font-size 0.5s ease, text-shadow 0.5s ease;
   text-shadow: 0 0 70px #00d8ff;
}

/*Project section*/

header {
   color: white;
   text-align: center;
   font-size: 100px;
   margin-top: 200px;
   margin-bottom: 100px;
}

header::first-letter {
   color: red;
}

.project-section-1, .project-section-2 {
   display: flex;
   border-radius: 30px;
   box-shadow: 0 0 20px red;
   width: 1000px;
   height: 500px;
   justify-content: center; 
   align-items: center; 
   margin: auto;
   margin-bottom: 100px;
}

.fa-square-check {
   color: red;
   font-size: 300px;
   margin-right: 100px;
}

.fa-music {
   color: red;
   font-size: 300px;
   margin-left: 40px;
}


.to-do, a {
   font-size: 100px;
   color: red;
   text-decoration: none;
   margin-bottom: 200px;
}

.to-do a:hover, .music a:hover {
  font-size: 115px;
  transition: .5s;
}
/* Css for small screens*/
@media only screen and (max-width: 600px) {
      .name {
          font-size: 25px;
          margin-left: 20px;
      }
      .navbar {
          padding: 5px;
      }
      ul {
         height: 0px;
      }
      .navbar ul {
          margin-right: 20px;
          text-align: center;
      }
      .navbar ul li {
          margin: 0px 0;
      }
      .navbar ul li a {
          padding: 5px 10px;
      }
      .home, .contact {
          font-size: 15px;
      }
      .greeting {
          margin-top: 100px;
          font-size: 20px;
      }
      .container {
          width: 300px;
          height: 40vh;
      }
      .skills {
         margin-bottom: 250px;
      }
      .skill-heading, header {
          font-size: 40px;
      }
      .skills ul li {
          font-size: 80px;
          margin-right: 10px;
      }

      .project-section-1, .project-section-2 {
         display: flex;
         border-radius: 30px;
         box-shadow: 0 0 20px red;
         width: 300px;
         height: 300px;
         justify-content: center; 
         align-items: center; 
         margin: auto;
         margin-bottom: 100px;
      }
      .fa-square-check {
         color: red;
         font-size: 100px;
         margin-right: 50px;
      }
      
      .fa-music {
         color: red;
         font-size: 100px;
         margin-left: 30px;
      }
      
      
      .to-do, a {
         font-size: 20px;
         color: red;
         text-decoration: none;
         margin-bottom: 200px;
      }

      .music, a {
         font-size: 20px;
         color: red;
         text-decoration: none;
         margin-bottom: 200px;
      }

  }
